.container {
  width: 75rem;
  display: flex;
  margin: 0 auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tapMenu {
  display: flex;
  justify-content: center;
  width: 90%;
}

.login,
.signup {
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
  color: black;
}

.login:hover,
.signup:hover {
  background-color: var(--puple300);
  border-radius: 1rem;
  text-decoration: none;
}

.errorsMsg {
  color: red;
  margin-right: auto;
  margin-left: 1.4rem;
  margin-top: -0.8rem;
  display: flex;
  align-items: center;
}

.errorsMsg p {
  margin-left: 0.2rem;
}

.successMsg {
  color: #82c814;
  margin-right: auto;
  margin-left: 1.4rem;
  margin-top: -0.8rem;
  display: flex;
  align-items: center;
}

.successMsg p {
  margin-left: 0.2rem;
}

.signupClicked {
  background-color: var(--puple100);
  color: var(--blue300);
  border-radius: 1rem;
}
