.container {
  background-color: var(--puple100);
  width: 61rem;
  padding: 3rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete {
  font-weight: 500;
}
.modalBtn {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(255 255 255);
  width: 8.4rem;
  height: 3rem;
  cursor: pointer;
}
.modalBtn:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
