.container {
  width: 75rem;
  display: flex;
  margin: 0 auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tapMenu {
  display: flex;
  justify-content: center;
  width: 90%;
}

.login,
.signup {
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
  color: black;
}

.errorsMsg {
  color: red;
}

.successMsg {
  color: blue;
}

.loginClicked {
  background-color: var(--puple100);
  color: var(--blue300);
  border-radius: 1rem;
}

.login:hover,
.signup:hover {
  background-color: var(--puple100);
  border-radius: 1rem;
  text-decoration: none;
}
