h4 {
  margin: 0rem;
}

.cvCard {
  padding: 1rem 1rem;
  width: 15rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.3rem;
  color: black;
}
.card {
  display: flex;
  justify-content: space-between;
}
.cardRight {
  display: flex;
  /* border: 1px solid tomato; */
}
.cardRight button {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
}
.cardRight button:hover {
  cursor: pointer;
}
.cvJob {
  font-size: 0.92rem;
}
.cvDate {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: slategray;
}
.pageNum {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
