.proCard {
  background-color: var(--puple100);
  width: 61rem;
  height: 31rem;
  padding: 3rem;
  border-radius: 6px;
  height: auto;
}
.userInfo {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
}

/*유저 프로필 사진*/
.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  padding: 0.3rem;
}
.pic {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.profilePic div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  background-color: green;
  margin-top: -2.3rem;
  margin-right: -6rem;
  color: white;
  font-weight: 500;
}
.profilePic div:active {
  background-color: darkgreen;
}

/* 유저 정보(이름, 이메일, 번호)*/
.proInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.info {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  display: flex;
}

.updataInput {
  border: 0.01rem solid teal;
  border-radius: 5px;
  display: flex;
  width: 760px;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
}

.phoneNum {
  margin: 0rem;
}
.message {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
}
.updataInput input {
  width: 46rem;
  height: 2rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: white;
}
.notInput {
  color: #ababab;
  cursor: not-allowed;
  width: 46rem;
}

/** 유저 정보 수정 버튼*/
.updata {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
}
.btn {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: rgb(255 255 255);
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
#cancel {
  background-color: white;
  color: var(--blue500);
  margin-right: 2rem;
}
#cancel:hover {
  background-color: whitesmoke;
}
.errorsMsg {
  color: red;
}

.successMsg {
  color: blue;
}
