h4 {
  margin-bottom: 1rem;
  margin-top: 0rem;
}
.modalGuide {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.modalGuideList {
  background-color: red;
  padding: 0.4rem 0rem;
  margin-top: 0.7rem;
  border-radius: 0.3rem;
}
.modalGuideCheck {
  display: flex;
  background-color: teal;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 2rem 0rem;
}
.modalGuideCheckbox input[type='checkbox'] {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
  accent-color: red;
}
.modalGuideBtn {
  display: flex;
  justify-content: end;
}
.modalGuideBtn button {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(255 255 255);
  width: 8.4rem;
  height: 3rem;
  cursor: pointer;
}
.modalGuideBtn button:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
