h4 {
  margin: 0rem;
}
.modalChangeInput {
  display: flex;
  flex-direction: column;
  margin: 1.4rem 0rem;
}
.modalChangeInput span {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.inputDetail {
  font-size: 0.8rem;
  color: lightslategrey;
}
.successMsg {
  font-size: 0.8rem;
  color: blue;
}
.errorsMsg {
  font-size: 0.8rem;
  color: red;
}
.resetLink {
  font-size: 0.8rem;
  color: blue;
}
a:hover {
  text-decoration: none;
}
.modalChangeInput input {
  width: auto;
  height: 2.4rem;
  font-size: 1.3rem;
  outline: none;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  border: 0.5px solid var(--bgColor);
  padding-left: 0.8rem;
}
.modalChangeBtn {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}
.btn {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: rgb(255 255 255);
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
#cancel {
  background-color: white;
  color: var(--blue500);
  margin-right: 1rem;
}
#cancel:hover {
  background-color: whitesmoke;
}
.notBtn {
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: rgb(255 255 255);
  width: 6rem;
  height: 3rem;
  cursor: not-allowed;
  background-color: rgb(204, 204, 204);
}
.notBtn:hover {
  background-color: rgb(180, 180, 180);
}
