.Oauth_title {
  text-align: center;
  margin-top: 2rem;
}

.Oauth_img {
  display: flex;
  justify-content: center;
}

.Oauth_img img {
  width: 3rem;
  margin: 0 1.6rem;
}

.Oauth_name {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}
