.proCard {
  background-color: var(--puple100);
  width: 61rem;
  height: 31rem;
  padding: 3rem;
  border-radius: 6px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
}

/*유저 프로필 사진*/
.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.3rem;
}
.pic {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.profilePic div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  background-color: green;
  margin-top: -2.3rem;
  margin-right: -6rem;
  color: white;
  font-weight: 500;
}
.profilePic div:active {
  background-color: darkgreen;
}

/* 유저 정보(이름, 이메일, 번호)*/
.proInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
}
.info {
  font-weight: 400;
  font-size: 2rem;
}
.email {
  font-size: 1.1rem;
  margin: -0.625rem 0rem;
}
.num {
  font-size: 1.1rem;
}
.info {
  display: flex;
  justify-content: center;
}

/** 유저 정보 수정 버튼*/
.updata {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
}
.updataBtn {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: rgb(255 255 255);
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
.updataBtn:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
