/** 기술 스택*/
.skillTags {
  margin: 0rem 0rem 0.8rem 0.8rem;
}
.skillTag {
  background-color: red;
  margin-right: 0.9rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-weight: 500;
  color: white;
}
.skillTag:nth-child(2) {
  background-color: green;
}
.skillTag:nth-child(3) {
  background-color: blue;
}
.infoUpdate {
  margin: 0.3rem 0.2rem;
}
