.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalView {
  background-color: white;
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.buttons {
  display: flex;
  justify-content: end;
  font-weight: 700;
}

.buttons button {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: var(--bgColor);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: whitesmoke;
}

.buttons button:hover {
  background-color: #c7c8ff;
  cursor: pointer;
}
