.container {
  width: 75rem;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mypageItem {
  margin-bottom: 2.5rem;
}
.mypageCv {
  margin-bottom: 2.5rem;
}
.container h2 {
  margin: 0rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: flex-start;
}
.cvList {
  display: flex;
  justify-content: end;
}
.cvList button {
  background-color: var(--blue500);
  border: 0.5px solid var(--bgColor);
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(255 255 255);
  width: 8.4rem;
  height: 3rem;
  cursor: pointer;
  margin: 1rem 3rem 0rem 0rem;
}
.cvList button:hover {
  background-color: #94b2f9;
  border: 0.5px solid var(--bgColor);
}
.cvContainers {
  background-color: var(--puple100);
  width: 61rem;
  padding: 3rem 3rem 1rem 3rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}
.cvContainer {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pageNums {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.pageNum {
  border: none;
  background-color: transparent;
}
.pageNum:hover {
  cursor: pointer;
}
.checkNum {
  color: var(--blue300);
}
